body { 
	background-image: url("https://static.invenglobal.com/upload/image/2020/03/11/o1583953980225851.jpeg");
	margin: 0;
}

nav ul{	
	margin:0;
	padding:0;
	display:flex;
	width:100%;
	height:100%;
}
nav li {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	background-color: Blue;
	width: 50vw;
	height: 50px;
}
nav a{
	text-decoration: none;
	width:100%;
	height:100%;
	text-align: center;
	line-height:5vh;
	text-transform: uppercase;
	font-family: calibri;
	font-weight: bold;
	color: gold;
}
h1, h2{
	text-align: center;
	background-color: blue;
	margin-left: 30vw;
	margin-right: 30vw;
	margin-bottom: 5vh;
	margin-top: 5vh;
	border-radius: 50px;
	font-size: 40px;
	padding: 20px; 
	color: gold;
}
p{
	padding:20px;
	text-align: center;
	margin-left: 35vw;
	margin-right: 35vw;
	margin-bottom: 5vh;
	margin-top: 5vh;
	background-color:white
}
ol{
	background-color:white;
	margin-left: 45vw;
	margin-right: 45vw;
}
form{
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;
	background-color: white;
}

div{
    display:grid;
    height:0;
    grid-template-rows:95vh 95vh;
    grid-template-areas:'s1 s2';
}   

section:nth-child(1){
    grid-area:s1;
    background-image:url("https://images.dexerto.com/uploads/thumbnails/_thumbnailLarge/faker-league-of-legends-goat.jpg");
}
section:nth-child(2){
	grid-area: s2;
    background-image:url("https://gamepedia.cursecdn.com/lolesports_gamepedia_en/thumb/a/aa/S2worldtpa.png/800px-S2worldtpa.png?version=ab9068b691644636e90476b84911709a" )

}

.nära{
	margin-bottom: 0;
	margin-top: 10px;
}
.active{
	background-color:black;
}
